<form id="formLogin" method="POST" action="#" class="w-full max-w-xl mt-16">
    <fieldset
        class="w-full min-h-[500px] flex flex-col items-center gap-10
           rounded-3xl border border-gray-800
           bg-gradient-to-b from-gray-950 via-gray-900 to-gray-950
           text-white shadow-[0_0_40px_rgba(255,0,0,0.15)]
           px-12 py-20"
        style="
            padding-top: 30px;
            padding-bottom: 10px;"
    >
        <legend class="sr-only">Formulario de inicio de sesión</legend>

        <h2 class="text-4xl font-semibold text-red-400 tracking-wide mb-4">
            Inicia sesión
        </h2>

        <div class="flex flex-col items-center gap-4 w-full">
            <label for="login-email" class="text-xl text-gray-300">
                Correo electrónico
            </label>
            <input
                id="login-email"
                type="email"
                name="email"
                placeholder="Introduce tu correo electrónico"
                class="w-3/4 py-5 px-6 rounded-3xl border border-gray-700 bg-gray-800/80 text-white
               placeholder-gray-500 text-lg
               focus:border-red-400 focus:ring-2 focus:ring-red-500/40 focus:outline-none
               transition duration-300"
            />
        </div>
        <p id="login-error-email" class="text-red-500 text-xs md:text-sm h-4">
        </p>

        <div class="flex flex-col items-center gap-4 w-full mt-2">
            <label for="login-password" class="text-xl text-gray-300">
                Contraseña
            </label>

            <div class="relative w-3/4">
                <input
                    id="login-password"
                    type="password"
                    name="password"
                    placeholder="****************"
                    class="w-full py-5 px-6 pr-12 rounded-3xl border border-gray-700 bg-gray-800/80 text-white
             placeholder-gray-500 text-lg
             focus:border-red-400 focus:ring-2 focus:ring-red-500/40 focus:outline-none
             transition duration-300"
                />

                <button
                    type="button"
                    id="verContrasena"
                    class="absolute inset-y-0 right-4 flex items-center text-gray-400 hover:text-red-400 transition"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.8"
                        stroke="currentColor"
                        class="w-6 h-6"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 3l18 18M2.25 12s3.75-6.75 9.75-6.75c2.01 0 3.78.53 5.32 1.3M19.5 8.25c1.73 1.28 2.25 2.07 2.25 2.07s-3.75 6.75-9.75 6.75c-2.01 0-3.78-.53-5.32-1.3"
                        ></path>
                    </svg>
                </button>
            </div>
            <p
                id="login-error-password"
                class="text-red-500 text-xs md:text-sm h-4"
            >
            </p>

            <button
                id="btnLogin"
                type="submit"
                class="mt-10 w-1/4 block bg-red-500 hover:bg-red-600
             text-white font-semibold text-xl py-5 px-16 rounded-full
             transition-transform duration-300 hover:scale-105
             shadow-[0_0_25px_rgba(255,0,0,0.4)]"
            >
                Iniciar sesión
            </button>

            <label
                class="flex items-center gap-2 text-sm text-gray-300 cursor-pointer"
            >
                <input
                    id="remember-check"
                    type="checkbox"
                    class="accent-red-600"
                />
                Mantener sesión iniciada
            </label>

            <p id="login-mensaje" class="text-green-500 text-center mt-4"></p>

            <p class="text-center text-gray-400 text-base mt-6">
                ¿No tienes cuenta?
                <a
                    href="#"
                    id="linkRegistro"
                    class="text-red-400 hover:text-red-300 font-medium transition"
                >
                    Regístrate aquí
                </a>
            </p>
        </div>
    </fieldset>
</form>
