
.env
.env.*.local
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

.idea/
.vscode/
*.iml

/target/
*.class
*.jar
*.war
*.ear

**/docker-compose.override.yml
**/Dockerfile.local

/test-output/
/coverage/
*.lcov

/dist/
/node_modules/
astro.config.*.mjs

/.mvn/
!.mvn/wrapper/maven-wrapper.jar
