@import "tailwindcss";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* format le dice al navegador el tipo de fuente que es */
@font-face {
    font-family: "Avestrava";
    src: url("/fonts/Avestrava.ttf") format("truetype");
}


/* Clase personalizada de Tailwind
   para usar la clase "font-avestrava" y para aplicar la fuente  */
@layer utilities {
    .font-avestrava {
        font-family: "Avestrava", sans-serif;
    }
}

/* Fuente para el panel de Administracion */
@font-face {
    font-family: 'MaximumVoltage';
    src: url('/fonts/MaximumVoltageItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Clase personalizada para MaximumVoltage Tailwind */
@layer utilities {
    .font-maximum {
        font-family: "MaximumVoltage", sans-serif;
    }
}


/* Toggle login / registro */

/* Cuando el checkbox está activado... */
#authToggle:checked+.selector-row .toggle-track {
    background-color: #ef4444;
}

#authToggle:checked+.selector-row .toggle-thumb {

    /* movemos el circulito a la derecha */
    transform: translateX(1.5rem);
}

#authToggle:checked+.selector-row .login-label {

    /* "Iniciar sesión" apagado */
    color: #6b7280;
}

#authToggle:checked+.selector-row .register-label {

    /* "Registrarme" destacado */
    color: #000000;

}


/* Línea roja con animacion suave */

/* Estado inicial: debajo de "Iniciar sesión" */
.underline-slide {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 110px;
    height: 3px;
    background-color: #ef4444;
    border-radius: 9999px;
    transition: left 0.5s ease, width 0.35s ease;
}

/* Cuando se marca el toggle: mover debajo de "Registrarme" */
#authToggle:checked+.selector-row .underline-slide {
    left: 180px;
    width: 120px;
}


/* para que las letras del Input se desplacen a la derecha del buscador */
[data-search-input] {
    padding-left: 48px !important;
}

.lupa {
    width: 16px;
    /* tamaño pequeño de la lupa */
    height: 16px;
    border: 2px solid white;
    border-radius: 50%;

    /* Permite posicionar libremente */
    position: absolute;
    /* Centra verticalmente a la mitad del contenedor (50%) */
    top: 50%;
    /* Espacio desde la izquierda del contenedor */
    left: 12px;
    /* Ajuste fino para centrar verticalmente */
    transform: translateY(-50%);
    /* Asegura que esté por encima del input */
    z-index: 10;
    display: block;
    box-sizing: border-box;
}

.lupa::after {
    content: "";
    position: absolute;
    /* grosor del mango */
    width: 2px;
    /* longitud del mango */
    height: 7px;
    background: white;
    transform: rotate(-45deg);

    /* posicionamiento muy importante */

    /* baja el mango */
    bottom: -4px;
    /* lo coloca a la derecha */
    right: -2px;
    border-radius: 2px;
}


/* Barra de desplazamiento roja*/
/* Aplica a todos los elemento que tenga scroll */
*::-webkit-scrollbar {
    width: 12px;
}

/* Fondo del scroll */
*::-webkit-scrollbar-track {
    background: #020617;
}

/* La parte que se mueve */
*::-webkit-scrollbar-thumb {
    background-color: #dc2626;
    border-radius: 9999px;
    border: 3px solid #020617;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #dc2626 #020617;
}


/* Iconos flotando Inciar sesion*/

/* Contenedor base */
.floating-column {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 50px;
    pointer-events: none;
    overflow: hidden;
    z-index: 10;
}

/* Izquierda */
.floating-left-1 {
    left: 80px;
}

.floating-left-2 {
    left: 150px;
}

/* Derecha */
.floating-right-1 {
    right: 80px;
}

.floating-right-2 {
    right: 150px;
}

/* Para moviles */
@media (max-width: 768px) {
    .floating-column {
        display: none;
    }
}

.floating-icon {
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    width: 28px;
    opacity: 0;
    animation: float-up 12s linear infinite;
}

/* Variación para no sincronizar */
.i1 {
    animation-duration: 14s;
    animation-delay: 0s;
}

.i2 {
    animation-duration: 12s;
    animation-delay: 4s;
}

.i3 {
    animation-duration: 16s;
    animation-delay: 8s;
}

@keyframes float-up {
    0% {
        opacity: 0;
        transform: translate(-50%, 0);
    }

    15% {
        opacity: 1;
    }

    80% {
        opacity: 1;
        transform: translate(-50%, -115vh);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -130vh);
    }
}

/* Barra roja discografía Artista */

.disc-underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 120px;
    height: 3px;
    background-color: #ff0000;
    border-radius: 9999px;
    z-index: 5;
    opacity: 0;
    transition: left 0.35s ease, width 0.35s ease;
}

#tabsDiscografia .tab-disc {
    transition: color 0.25s ease;
}