<section
    id="hero"
    class="relative w-full min-h-dvh bg-cover grid place-items-center bg-center bg-no-repeat bg-black overflow-hidden"
    style=" background-image:
      url('/img/Home/HomeBackground.webp');
  "
>
    <img
        id="heroLogo"
        src="/img/Home/Gallo.webp"
        alt="RedRoosters TV"
        class="block w-[min(42vw,360px)] max-w-full drop-shadow-[0_12px_24px_rgba(0,0,0,0.6)] select-none will-change-transform"
        draggable="false"
    />
</section>

<script src="/scripts/AnimacionHome.js" is:inline></script>
