---
import "../styles/global.css";
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";

// Props / propiedades que vienen desde cada página
interface Props {
    title?: string;
    headerVerLogo?: boolean;
    headerFondoNegro?: boolean;
}

const {
    title = "RedRoosters",
    headerVerLogo = true,
    headerFondoNegro = true,
} = Astro.props;

// Layout -> envuelve cada página con la estructura común (head, meta, favicon, header/footer).

// Cada página inserta su contenido en <slot />, evitando duplicar codigo.
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" /><meta
            name="viewport"
            content="width=device-width"
        /><link rel="icon" type="image/jpg" href="/img/Logo.jpg" /><meta
            name="generator"
            content={Astro.generator}
        /><title>Red Roosters TV</title><meta
            name="description"
            content="Descubre Artistas y Canciones"
        /><script is:inline src="https://code.jquery.com/jquery-3.6.0.min.js"
        ></script><link
            href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
            rel="stylesheet"
        /><script
            is:inline
            src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"
        ></script><script src="/src/scripts/BtnSoloAdmin.js" defer
        ></script></head
    >

    <body>
        <Header verLogo={headerVerLogo} fondoNegro={headerFondoNegro} />
        <slot />
        <Footer />
    </body>
</html>
