---
import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/home/HomeHero.astro";
---

<Layout title="artistas">
    <div class="min-h-dvh bg-black"></div>
</Layout>
