---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Artistas">
    <main
        class="min-h-screen flex flex-col items-center justify-center bg-gray-950 pt-20 gap-10"
        style="background-image: url('/img/Artistas/FondoArtista.webp');"
    >
        <!-- Espacio superior para el movil -->
        <div class="block xl:block sm:hidden h-24"></div>

        <div class="w-full max-w-xl border-2 border-red-500 p-6 rounded-xl">
            <div class="relative w-full" data-busqueda>
                <div class="lupa"></div>

                <input
                    type="search"
                    placeholder="Buscar artistas, álbumes y canciones..."
                    class="w-full h-10 rounded-xl bg-gray-900 border border-white/30 px-4 py-2 text-sm text-white
                           focus:outline-none focus:ring-2 focus:ring-red-500/40 focus:border-red-500"
                    data-search-input
                />

                <!-- Caja de resultados -->
                <div
                    data-search-results
                    class="absolute left-0 right-0 mt-6 p-6
                            bg-gray-900/95
                            shadow-[0_0_40px_rgba(255,0,0,0.4)]
                            max-h-96 overflow-y-auto hidden z-50"
                >
                </div>
            </div>
        </div>

        <div>
            <button
                id="btn-actualizar-artistas"
                class="px-10 py-4 cursor-pointer text-white bg-red-600 hover:bg-red-700
                    rounded-2xl text-lg font-medium
                    transition-all duration-300 hover:scale-105"
                type="button"
            >
                Actualizar artistas
            </button>
        </div>

        <section
            <section
            class="w-full max-w-6xl px-10 sm:px-16 md:px-24"
            data-random-artistas
            data-endpoint="/api/public/artistas/random"
        >
            >
            <div
                class="grid grid-cols-2 sm:grid-cols-3 gap-x-10 gap-y-12"
                data-grid
            >
            </div>
        </section>

        <script src="/src/scripts/artistas/buscador.js" defer></script>
        <script src="/src/scripts/artistas/randomArtistas.js" defer></script>
    </main>
</Layout>
