---
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/home/HomeHero.astro";
---

<Layout title="home" headerVerLogo={false} mainClass="pt-0">
	<HomeHero />

	<section
		class="w-full min-h-dvh bg-cover bg-center bg-no-repeat flex flex-col items-center bg-black"
		style="background-image: url('/img/Home/FondoMain.webp');"
	>
		<h1
			class="font-avestrava text-[clamp(25px,5.2vw,7rem)] tracking-wide text-white
         [text-shadow:0_0_7px_black]"
		>
			Artistas Destacados
		</h1>


		<div>
			

		</div>


	</section>
</Layout>
