---
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/home/HomeHero.astro";
---

<Layout title="home" headerVerLogo={false} mainClass="pt-0">
	<HomeHero />

	<section class="max-w-6xl mx-auto py-12 h-screen">
		<!-- Artistas Destacados -->
	</section>
</Layout>
