---
import Layout from "../layouts/Layout.astro";
import InicioSesion from "../components/login/InicioSesion.astro";
import Registro from "../components/login/Registro.astro";
---

<Layout title="login" headerVerLogo={true} headerFondoNegro={true}>
    <!-- IZQUIERDA -->
    <div class="floating-column floating-left-1">
        <img src="/img/musica.svg" class="floating-icon i1" loading="lazy" />
        <img src="/img/musica.svg" class="floating-icon i2" loading="lazy" />
        <img src="/img/musica.svg" class="floating-icon i3" loading="lazy" />
    </div>

    <div class="floating-column floating-left-2">
        <img src="/img/musica.svg" class="floating-icon i1" loading="lazy" />
        <img src="/img/musica.svg" class="floating-icon i2" loading="lazy" />
        <img src="/img/musica.svg" class="floating-icon i3" loading="lazy" />
    </div>

    <!-- DERECHA -->
    <div class="floating-column floating-right-1">
        <img src="/img/musica.svg" class="floating-icon i1" loading="lazy" />
        <img src="/img/musica.svg" class="floating-icon i2" loading="lazy" />
        <img src="/img/musica.svg" class="floating-icon i3" loading="lazy" />
    </div>

    <div class="floating-column floating-right-2">
        <img src="/img/musica.svg" class="floating-icon i1" loading="lazy" />
        <img src="/img/musica.svg" class="floating-icon i2" loading="lazy" />
        <img src="/img/musica.svg" class="floating-icon i3" loading="lazy" />
    </div>

    <main
        class="min-h-screen flex flex-col justify-center bg-transparent pt-12 pb-30 md:pt-16 md:pb-35 xl:pb-40"
    >
        <!-- Contenedor -->
        <div class="w-full flex flex-col items-center gap-8">
            <h1
                id="tituloLogin"
                class="text-1xl md:text-2xl text-center text-black"
            >
                👋🏻 Regístrate para guardar tus canciones favoritas y aumentar
                las escuchas del artista
            </h1>

            <input id="authToggle" type="checkbox" class="sr-only peer" />

            <div
                class="selector-row relative flex items-center gap-4 text-lg font-semibold text-black"
            >
                <span class="login-label transition-all duration-300">
                    Iniciar sesión
                </span>

                <!-- Switch -->
                <label
                    for="authToggle"
                    class="relative inline-flex items-center cursor-pointer"
                >
                    <div
                        class="toggle-track w-12 h-6 bg-gray-500 rounded-full
             transition-colors duration-300"
                    >
                    </div>

                    <div
                        class="toggle-thumb absolute left-[2px] top-[2px] bg-white w-5 h-5 rounded-full
             transition-transform duration-300"
                    >
                    </div>
                </label>

                <span
                    class="register-label text-gray-400 transition-colors duration-300"
                >
                    Registrarme
                </span>

                <span
                    class="underline-slide absolute bottom-[-8px] left-0 h-[3px] w-[110px] bg-red-500 rounded-full transition-all duration-500"
                ></span>
            </div>

            <!-- Tarjeta que gira -->
            <div
                class="flip-card relative w-full max-w-xl min-h-[520px]
               mt-6 mb-40
               transition-transform duration-1000
               [transform-style:preserve-3d]
               peer-checked:[transform:rotateY(180deg)]"
            >
                <div class="absolute inset-0 [backface-visibility:hidden]">
                    <InicioSesion />
                </div>

                <div
                    class="absolute inset-0 [transform:rotateY(180deg)]
                 [backface-visibility:hidden]"
                >
                    <Registro />
                </div>
            </div>
        </div>
    </main>
</Layout>

<script type="module" src="/scripts/login/verContraseñaLogin.js"></script>
<script type="module" src="/scripts/login/enlacesAncla.js"></script>
<script type="module" src="/scripts/login/authRegister.js"></script>
<script type="module" src="/scripts/login/authLogin.js"></script>
<script type="module" src="/scripts/login/CambiarTitulo.js"></script>
